/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;  
}
:root { 
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #d1d0d0ed;
    --maintrans: 0.4s;
}
body { 
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
a { 
    text-decoration: none;
}
ul { 
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar { 
    width: 14px;
}
::-webkit-scrollbar-track { 
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb { 
    background-color: white;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--red-color); 
}
/* End Global Rules */
/* Start sidebar */
.page { 
    background-color: #cfcfcc65;
}
.page .sidebar { 
    width: 180px;
    box-shadow: 0 0 10px #ddd;
    min-height: 100vh;
}
@media (max-width: 767px) {
    .page .sidebar {
        width: 60px;
    }
    .page .sidebar h3 {
        font-size: 8px;
        margin-left: -10px;
        margin-bottom: 6px;
    }
    .page .sidebar h3::before,
    .page .sidebar h3::after,
    .page .sidebar ul li a span { 
        display: none;
    }
    .page .sidebar h6 {
        font-size: 4px;
    }
    .page .sidebar li a { 
        display: block;
        padding-right: 23px;
    }
}
.page .sidebar h3::before { 
    content: "";
    position: absolute;
    width: 100%;
    bottom: -15px;
    height: 5px;
    left: 0;
    background-color: black;
}
.page .sidebar h3::after { 
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -19px;
    border-radius: 50%;
    left: 50%;
    transform: translatex(-50%);
    background-color: white;
    border: 2px black solid;
}
.page .sidebar h3:hover::after { 
    animation: downup 1s linear infinite both;
    ;
}
@keyframes downup { 
    0% { 
        bottom: -20px;
    }
    50% { 
        bottom: -10px;
    }
    100% { 
        bottom: -24px;
    }
}
.page .sidebar h6 a:hover { 
    text-decoration: underline;
    color: var(--blue-color);
}
.page .sidebar li a:hover,
.page .sidebar li a.active {
    background-color: var(--blue-alt-color);
    color: white;

}
@media (max-width: 767px) { 
    .page .sidebar li a:hover,
    .page .sidebar li a.active { 
        width: 40px;
        border-radius: 20px;
        font-size: 14px;
    }
}

/* End sidebar */
/* Start content */
.page .content { 
    overflow: hidden;
}
.page .content .search span i { 
    position: absolute;
    font-weight: 900;
    top: 50%;
    left: 20px;
    font-size: 13px;
    color: var(--gray-color);
    transform: translateY(-50%);
}
.page .content .head .search input { 
    border: 1px solid var(--gray-color);
    margin-left: 5px;
    padding-left: 35px;
    width: 315px;
    transition: var(--maintrans);
}
@media (max-width: 767px) { 
    .page .content .head .search input { 
        width: 120px;
    }
}
.page .content .head input:focus { 
    width: 400px;
    border: 1px solid var(--red-color);
    outline: none;
}
@media (max-width: 767px) { 
    .page .content .head input:focus { 
        width: 200px;
    } 
}
.page .content .head input:focus::placeholder { 
    opacity: 0;
}
.page .content .head .icons span::before { 
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--red-color);
    border-radius: 50%;
    left: 55%;
}
.page .content .head .icons span:hover::before { 
    display: none;
}
.page .icons img {
    width: 32px;
    height: 32px;
}
/* End content */
.page .mainh { 
    margin: 10px 0 20px 15px;
}
.page .mainh::before { 
    content: "";
    position: absolute;
    width: 170px;
    height: 3px;
    background-color: white;
    bottom: -10px;
    left: 0;
}
.page .mainh::after { 
    content: "";
    position: absolute;
    width: calc(170px / 5);
    height: 3px;
    background-color: var(--red-color);
    bottom: -10px;
    left: 0;
}

/* Start holder */
.page .holder { 
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 767px) {
    .page .holder { 
        grid-template-columns: minmax(200px, 1fr);
        margin: 10px;
    }
}

/* End holder */

/* Start Welcome */

.page .content .holder .welcome .first{ 
    z-index: 1;
    overflow: hidden;
}
.page .content .holder .welcome .first::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 15px;
    z-index: -1;
    left: -100%;
    top: 0;
    transition: var(--maintrans);
}
.page .content .holder .welcome .first:hover{ 
    color: white;
}
.page .content .holder .welcome .first:hover::before {
    left: 0;
}
.page .content .holder .welcome .secound {
    margin-top: 50px;
    margin-bottom: 30px;
    border-top: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
}
@media (min-width: 992px) { 
    .page .content .holder .welcome .secound { 
        margin-top: 120px;
    }
}
.profilepic img { 
    width: 88px;
    position: absolute;
    left: 6%;
    top: 28%;
    z-index: 1;
    border: 7px solid white;
    border-radius: 50%;
}
.welcome .text textarea:focus,
.welcome .text input:focus {
    outline: none;
    border: 1px solid var(--blue-color);
}
.welcome .text textarea:focus::placeholder,
.welcome .text input:focus::placeholder {
    opacity: 0;
}
.draft a { 
    position: absolute;
    right: 22px;
    bottom: 22px;
}
a.back:hover { 
    background-color: var(--blue-alt-color);
}
/* End Welcome */
/* Start Target */
.targets .targets-row .icon { 
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .details .progress { 
    height: 4px;
}
.targets .details .progress > span { 
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.targets .details .progress > span span { 
    position: absolute;
    bottom: 16px;
    right: -10px;
    color: white;
    padding: 5px 8px;
    border-radius: 10px;
    font-size: 14px;
}
.targets .details .progress > span span::before { 
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: var(--blue-color);
}
.targets .details .progress > .blue span::before { 
    border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::before { 
    border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::before { 
    border-top-color: var(--green-color);
}
.targets .details .progress > .red span::before { 
    border-top-color: var(--red-color);
}
.blue .icon, 
.blue .progress { 
    background-color: #0075ff99;
}
.orange .icon, 
.orange .progress { 
    background-color: #f59f0b49;
}
.green .icon, 
.green .progress { 
    background-color: #22c55e79;;
}
.red .icon, 
.red .progress { 
    background-color: #f44336a0;;
}
/* End Target */
/* Start Ticket */
.tickets .ticket { 
    width: 50%;
    padding: 50px;
    text-align: center;
    border: 1px solid var(--gray-color);
}
@media (max-width: 767px) {
    .tickets .box { 
        flex-direction: column;
        margin: 0;
        gap: 10px;
        margin-bottom: 10px;
    } 
    .tickets .ticket { 
        padding: 20px;
    }
}
.tickets .ticket i.orange { 
    color: var(--orange-color);
}
.tickets .ticket i.blue { 
    color: var(--blue-color);
}
.tickets .ticket i.green { 
    color: var(--green-color);
}
.tickets .ticket i.red { 
    color: var(--red-color);
}
/* End Ticket */
/* Start News */
@media (max-width:767px) { 
    .news .box .new { 
        flex-direction: column;
    }
    .news .box .new p { 
        margin-top: -8px;
        margin-bottom: 16px;
    }
    .news .box .new a { 
        padding: 5px;
    }
}
.news .box .new .img img {
    width: 120px;
}
@media (max-width:767px) { 
    .news .box .new .img img { 
        width: 100%;
        border-radius: 20px;
    }
}
/* End News */
/* Start Task */
@media (max-width:767px) { 
    .tasks .task .info h3,
    .tasks .task .info p { 
        text-align: initial;
    }
}
/* End Task */
/* Start uploads */
.uploads .img img { 
    width: 50px;
}
/* End uploads */
/* Start project */
.project .box ul::before { 
    content: "";
    position: absolute;
    height: 79%;
    width: 9px;
    background-color: var(--blue-alt-color);
    left: -3px;
    top: 32px;
}
.project .box ul li::before { 
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--green-color);
    left: -20px;
    top: 20px;
    z-index: 1;
    border: 2px solid var(--blue-alt-color);
}
.project .box ul li.empty::before {
    background-color: white;
}
.project .box ul li.flash::before { 
    animation: flashing 1s infinite linear;
}
@keyframes flashing {
    50% {
        background-color: white;
    }
}
/* End project */
/* Start Reminders */
.reminders .holder .box::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 3px;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
}
.reminders .holder .box::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
}
.reminders .holder .blue::before, 
.reminders .holder .blue::after { 
    background-color: var(--blue-color);
}
.reminders .holder .green::before, 
.reminders .holder .green::after { 
    background-color: var(--green-color);
}
.reminders .holder .orange::before, 
.reminders .holder .orange::after { 
    background-color: var(--orange-color);
}
.reminders .holder .red::before, 
.reminders .holder .red::after { 
    background-color: var(--red-color);
}
/* End Reminders */
/* Start Post */
.post .poster .border{ 
    border-top: 2px solid var(--gray-color);
    border-bottom: 2px solid var(--gray-color);
    margin-bottom: 50px;
    margin-top: 30px;
}
.post .onepost .img img { 
    width: 40px;
}
.post .poster .redhover:hover {
    color: red;
}
/* End Post */
/* Start social */
.social .info i { 
    font-size: 50px;
}
@media (max-width: 767px) { 
    .social .info { 
        flex-direction: column;
    }
    .social .info i { 
        margin-bottom: 30px;
        padding: 20px;
    }
}
/* End social */
                    /* START SETTINGS */

.toggle-checkbox { 
    -webkit-appearance: none;
    appearance: none;
}
.toggle-switch { 
    background-color: var(--red-color);
    width: 78px;
    height: 32px;
    border-radius: 15px;
    position: relative;
    transition: var(--maintrans);
    cursor: pointer;
}
.toggle-switch::before { 
    content: "\f00d";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a4a3a3;
    transition: var(--maintrans);
}
.toggle-checkbox:checked + .toggle-switch { 
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before { 
    left: 50px;
    color: var(--blue-color);
    content: "\f00c";
}
/* Start general */
.general .content input:focus {
    outline: none;
    border: 2px solid var(--gray-color);
}
.general .content input:focus::placeholder {
    opacity: 0;
}
.general .content a { 
    border: 1px solid;
}
@media (max-width: 767px) {
    .general .content a { 
        position: absolute;
        right: -51px;
        padding: 7px;
        bottom: -8px;
    }
}
/* End general */
/* Start Social-info */
.social-info .box i {
    width: 40px;
    height: 40px;
    background-color: var(--gray-color);
    z-index: -1;
    color: var(--orange-color);
    border: 1px solid var(--blue-color);
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.social-info .box input {
    width: 100%;
    padding: 10px;
}
.social-info .box > div:focus-within i {
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
}
/* End Social-info */
.touchme:hover { 
    border: 1px solid var(--blue-alt-color);
    color: var(--blue-alt-color);
}
                    /* END SETTINGS */